@import url("mod_reset.import.css");
html,body{height:100%;}
.page{position:absolute;left:0;top:0;width:100%;height:100%;}
.page_index{background:#fcdb32 url(img/bg1.jpg) no-repeat center bottom;background-size:100%;overflow:hidden;z-index:999;}
.hand{position:absolute;left:0;bottom:0;width:100%;padding-top:48.8%;background:url(img/hand.png) no-repeat;background-size:cover;}
.hand.play{-webkit-animation:shake .8s ease infinite;}
.hand_cover{position:absolute;left:0;bottom:0;width:100%;padding-top:30%;background:url(img/hand_cover.png) no-repeat;background-size:cover;}

.page_flag{background:#fcdb32 url(img/res_flag.jpg) no-repeat center bottom;background-size:100%;opacity:1;}
.page_flag.play{opacity:0;-webkit-transition:all 2s 2s ease-out;}

.page_res{overflow-x:hidden;overflow-y:auto;opacity:0;}
.page_res.play{opacity:1;-webkit-animation:fadein 2s ease-out;}
.res{position:absolute;left:0;top:0;width:100%;height:100%;background:#fcdb32 url(img/res_6.jpg) no-repeat center bottom;background-size:100%;}
.res__user_box{position:absolute;left:1.5rem;bottom:9.7rem;width:2.04rem;height:2.04rem;padding:3px;background:#fff9de;border-radius:999px;}
.res__user{display:block;width:2.04rem;height:2.04rem;border-radius:999px;}
.res__tips{position:absolute;left:4rem;bottom:11rem;font-size:0.48rem;color:#3c2613;}

.page_ask{background:#fcdb32 url(img/bg2.jpg) no-repeat center bottom;background-size:100%;overflow:hidden;}
.ask{position:absolute;left:0;top:0;width:100%;height:100%;background:url(img/qian.png) no-repeat center bottom;background-size:100%;-webkit-animation:shake2 .7s ease infinite;-webkit-transform-origin:50% 64%;-webkit-animation-direction:alternate;}

.res_show_img{display:block;width:100%;}

@-webkit-keyframes shake{
	0%{-webkit-transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(10deg);}
}

@-webkit-keyframes shake2{
	0%{-webkit-transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(20deg);}
}
